.form-feed
    display: flex
    flex-direction: column
    max-width: 300px
    
    &__input
        margin-top: 15px
        border: none
        padding: 0 20px
        &:first-child
            margin-top: 0
    &_form-feed_1
        margin-top: 36px
    &_form-feed_1
        margin-top: 36px

    &_windows
        margin-top: 25px
             