.form-feed
    display: flex
    flex-direction: column
    max-width: 300px
    margin-top: 36px
    &__input
        margin-top: 15px
        border: none
        padding: 0 20px
        &:first-child
            margin-top: 0
             